{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}

<meta charset="utf-8" />
<meta name="theme-color" content="#000000" />
<title>Data Validation</title>

<link rel="stylesheet" href="{% static "/datavalidation/prod/static/css/main.chunk.css" %}" />

{%  endblock %}

{% block content %}

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>

<script src="{% static "/datavalidation/prod/static/js/main.chunk.js" %}"></script>
<script src="{% static "/datavalidation/prod/static/js/runtime-main.js" %}"></script>
<script src="{% static "/datavalidation/prod/static/js/2.chunk.js" %}"></script>

{% endblock %}