{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}

<meta charset="utf-8" />
<meta name="theme-color" content="#000000" />
<title>Data Validation</title>

<link rel="icon" type="image/x-icon" href={% static "/datavalidation/admin/favicon.ico" %}>

<link rel="stylesheet" href="{% static "/datavalidation/admin/static/css/main.chunk.css" %}"> </link>
<link rel="stylesheet" href="{% static "/datavalidation/admin/static/css/2.chunk.css" %}"> </link>

{%  endblock %}

{% block content %}

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>

<script  src="{% static "/datavalidation/admin/static/js/main.chunk.js" %}"> </script>
<script  src="{% static "/datavalidation/admin/static/js/runtime-main.js" %}"> </script>
<script  src="{% static "/datavalidation/admin/static/js/2.chunk.js" %}"> </script>

{% endblock %}