[flake8]
max-line-length = 95
exclude =
    .git,
    __pychache__,
    .pycache,
    .pytest_cache,
	migrations,
	datavalidation/react,
	datavalidation/node_modules,
	test_proj/htmlcov,
	test_proj/_debug.py
