# python
*.py[cod]

# node
**/node_modules/

# testing
*/.pytest_cache/
*.coverage
test_proj/_debug.py

# db
*.sqlite3

# pycharm
.idea/

# other
/_notes
/datavalidation/static/datavalidation/dev
/datavalidation/templates/datavalidation/dev
/setup/test_proj.pth
/tests/test_proj/_debug.py
/tests/test_proj/local_settings.py
/tests/test_proj/apps/datavalidation/
/tests/test_proj/htmlcov/