# python
*.py[cod]

# node
**/node_modules/

# testing
*/.pytest_cache/
*.coverage

# db
*.sqlite3

# pycharm
.idea/

# other
/_notes
/datavalidation/static/datavalidation/dev
/datavalidation/templates/datavalidation/dev
/setup/test_proj.pth
/test_proj/_debug.py
/test_proj/local_settings.py
/test_proj/apps/datavalidation/
/test_proj/htmlcov/