
.vertical-align {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
}

td {
    margin: 5px;
    vertical-align: middle;
    height: 30px;
    border-bottom: thin solid #747474;
}

.summary-table {
    background: #ffffff;
    border: 1px solid #747474;
    border-radius: 3px;
    border-collapse: separate;
    border-spacing: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.icon {
    width: 18px;
    margin: 0 5px;
}
